
rect:hover {
    fill-opacity: 1;
  }

circle:hover {
    fill-opacity: 1;
  }

path {
    fill-opacity: 0.8;
  }

.selected,
path:hover {
    fill-opacity: 1;
  }

  .axis {
    font-size: large;
  }

  html{
    font-family: Helvetica, sans-serif;
  }

.sticky-top {
    background-color: white;
}

#main-container {
    height: 90vh;
    overflow-y: scroll;
}

.plot {
    height:90vh;
}